.carttitle{
    color: #FFBA00;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.carttitles{
    font-size: 1.6rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.carttotal{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.removebtn{
    background: none;
    border: none;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.cartprice span{
    font-size: 1.2rem;
}
.cartprice{
    width: 10rem;
}
.emptytext{
    padding-bottom: 1rem;
}
.emptybrowse{
    padding-bottom: 1rem;
}
.hrdiv{
    padding-bottom: 1rem;
}
.emptybtn{
    width: 150px;
    text-transform: uppercase;
    height: 50px;
    border: none;
    background: #FFBA00;
    border-radius: 9.17791px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.cartdivs{
    padding-left: 2rem;
}
.cartimgempty{
    width: 10rem;
}
.emptydiv{
    text-align: center;
    padding-bottom: 12rem;
}
.cart{
    display: flex;
    gap: 2rem;
}
.cartdiv{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 65%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding-left: 1rem;
}
.cartothers{
    padding-top: 1.5rem;
    display: flex;
    gap: 30rem;
}
.cartimg{
    width: 5rem;
    padding-top: 1rem;
}
.summary{
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.popamt{
    width: 2rem;
    height: 2rem;
}
.bottom{
position: fixed;
top: 10rem;
right: 1rem;
z-index: 100;
background-color: white;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
padding: 1rem 1rem 1rem 1rem;
}
.remove{
    display: flex;
    padding-top: 2rem;
    gap: 1rem;
    cursor: pointer;
}
.remove i{
    padding-top: 0.5rem;
}
.checkouts button{
    width: 240px;
    height: 40px;
    background-color: #FFBA00;
    color: white;
    border: none;
    border-radius: 5px;
}
.checkouts{
    text-decoration: none;
}
.fa-trash{
    color: red;
    cursor: pointer;
}
.continueshop{
    padding-top: 1rem;
    padding-left: 2rem;
}