*{
  margin: 0;
  padding: 0;
}
.warning{
  height: 40px;
  width: 250px;
  position: fixed;
  right: 0;
  top: 10%;
  background-color: rgb(210, 91, 91);
  font-size: 1.1rem;
  color: white;
  font-family: cursive;
  padding: 5px;
  border-radius: 5px;
}
.dawg{
  color: red;
}
.loader{
  justify-content: center;
  align-items: center;
  padding-top: 17.5rem;
  padding-left: 38rem;
  text-align: center;
}
