.checkout{
    padding-left: 4rem;
    display: flex;
    gap: 2rem;
}
.expresstitle{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #333333;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.checkoutleft{
    width: 60%;
    border-right: 1px solid #B4B4B4;
}
.pay{
    display: flex;
    padding-left: 6.8rem;
    gap: 1rem;
    width: 40rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.hr{
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    padding-left: 6.8rem;
}
.hrleft{
    width: 14rem;
    height: 0px;
}
.hrright{
    width: 14rem;
    height: 0px;
}
.infotitle{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 1;
    padding-bottom: 1rem;
}
.infoinput{
    width: 530px;
    height: 46px;
    background: linear-gradient(180deg, rgba(255, 186, 1, 0) 57.72%, rgba(253, 197, 94, 0.06) 112.46%);
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-left: 1rem;
}
.infocheck{
    width: 18px;
    height: 18px;
    background: linear-gradient(180deg, rgba(255, 186, 1, 0) 57.72%, rgba(253, 197, 94, 0.06) 112.46%);
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}
.checktext{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.2px;
    color: #545454;
    flex: none;
    order: 1;
    flex-grow: 1;
}
.checkbox{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}
.contactinfo{
    padding-left: 6.7rem;
}
.delivery{
    padding-left: 6.6rem;
    padding-top: 2rem;
}
.doorstep{
    display: flex;
    gap: 1rem;
    border: 1px solid #B4B4B4;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem; 
    padding-left: 1rem;
    border-radius: 5px;  
    width: 530px;
}
.doorstep img{
    width: 1rem;
    height: 1rem;
    padding-top: 0.3rem;
}
.addressname{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.firstname{
    width: 250px;
    height: 46px;
    background: linear-gradient(180deg, rgba(255, 186, 1, 0) 57.72%, rgba(253, 197, 94, 0.06) 112.46%);
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-left: 1rem;
}
.lastname{
    width: 250px;
    height: 46px;
    background: linear-gradient(180deg, rgba(255, 186, 1, 0) 57.72%, rgba(253, 197, 94, 0.06) 112.46%);
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-left: 1rem;
}
.address{
    padding-left: 6.5rem;
    padding-top: 2rem;
}
.names{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.addressinput{
    width: 537px;
    height: 46px;
    background: linear-gradient(180deg, rgba(255, 186, 1, 0) 57.72%, rgba(253, 197, 94, 0.06) 112.46%);
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-left: 1rem;
}
.cityinput{
    width: 537px;
    height: 46px;
    background: linear-gradient(180deg, rgba(255, 186, 1, 0) 57.72%, rgba(253, 197, 94, 0.06) 112.46%);
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-left: 1rem;
}
.space{
    padding-bottom: 1rem;
}
.optionsdiv{
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}
.labeltext{
    border-top: 1px solid #B4B4B4;
    border-left: 1px solid #B4B4B4;
    border-right: 1px solid #B4B4B4;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.2px;
    color: #737373;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: -4px 0px;
    width: 179px;
    border-radius: 5px;
    height: 23px;
}
.select{
    border-bottom: 1px solid #B4B4B4;
    border-left: 1px solid #B4B4B4;
    border-right: 1px solid #B4B4B4;
    border-top: none;
    width: 181.33px;
    border-radius: 5px;
    height: 23px;
}
.phoneicon{
    position: absolute;
    left: 43rem;
    padding-top: 0.8rem;
}
.radio{
    background-color: rgba(255, 186, 0, 1);
}
.complete{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-right: 7rem;
    gap: 10px;
}
.checksubmit{
    width: 163px;
    height: 57px;
    background: #FFBA00;
    border-radius: 8px;
    border: none;
}
.checkfooter{
    text-align: center;
    padding-top: 5rem;
    padding-left: 4rem;
}
.checkfooter hr{
    width: 30rem;
}
.checkfootlinks{
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    padding-left: 5rem;
}
.checklink{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.2px;
    color: #FFBA00;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
.checkrighthead{
    display: flex;
    gap: 1.5rem;
}
.efoname{
    padding-right: 8rem;
}
.efo{
    width: 38px;
    height: 38px;
    padding-top: 0.5rem;
}
.checkhr{
    padding-top: 2rem;
    padding-left: 1rem;
}
.checkdiscount{
    padding-top: 2rem;
    padding-left: 1rem;
    display: flex;
    gap: 10px;
}
.discountcode{
    width: 290px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-left: 1rem;
}
.discountbtn{
    width: 74px;
    height: 46px;
    background: rgba(105, 105, 105, 0.5);
    border-radius: 5px;
    border: none;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.tag{
    padding-top: 1rem;
    padding-left: 1rem;
}
.subtotal{
    display: flex;
    gap: 20rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.totalsub{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.2px;
    color: #333333;
}
.totalprice{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: right;
    letter-spacing: -0.2px;
    color: #333333;
}
.subtotaltax{
    display: flex;
    gap: 21rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.checktotal{
    display: flex;
    gap: 20rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.checksub{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.2px;
    color: #545454;
}
.subprice{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #333333;
}
.discountprice{
    display: flex;
    gap: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}
.eastersale{
    display: flex;
    gap: 0.3rem;
    padding-right: 9.3rem;
}
.eastersale img{
    width: 15.99px;
    padding-top: 0.3rem;
    height: 15.99px;
}
.checkoutright{
    display: block;
}  
.dropdown{
    position: relative;
    user-select: none;
    
}
.shoppay{
    width: 172px;
    height: 37px;
    color: rgba(252, 177, 38, 0.418);
}
.dropdown .dropdownbtn{
    padding: 10px;
    background: #fff;
    border: 1px solid #D9D9D9;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.2px;
    color: #737373;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160.33px;
    height: 40px;
}
.dropdown .dropdowncontent{
    top: 110%;
    left: 0;
    width: 90%;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    position: absolute;
}
.dropdown .dropdowncontent .dropdownitem{
    padding: 10px;
    cursor: pointer;
}
.dropdown .dropdowncontent .dropdownitem:hover{
    background: #f4f4f4;
}