.mobiletitle{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
    padding-bottom: 2rem;
}
.extra{
    color: #FFBA00;
}
.mobiletext{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #191919;
    opacity: 0.8;
    padding-bottom: 2rem;
}
.download>img{
    padding-right: 2rem;
}
.mobile{
    display: flex;
    gap: 10rem;
}
.mobileleft{
    padding-top: 12rem;
    padding-left: 4rem;
}
@media screen and (max-width: 400px) {
 
 .mobile{
    display: block;
 }
 .mobileright>img{
    width: 350px;
 }
 .mobileleft{
    padding-left: 1rem;
 }
}